<nav>
    <div style="background-color: black" class="d-flex justify-content-between">
        <!-- <div class="d-flex justify-content-around"> -->
        <div class="d-inline-flex">
            <!-- <img id="icon" src="/images/icons/hamburger.png" alt="icon" onclick="toggleMenu()"> -->
            <svg id="icon" onclick="toggleMenu()" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div>
        <div>
            <span id="logo">
                <img style="width: 5.5em" src="/images/socs-bird.png" alt="SOCS bird" onclick="window.location='/'">
            </span>
        </div>
        <div id="large-navbar">
            <ul class="nav">

                <% for(var i =0; i < navbar.length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link" onclick='dropDown("target", "<%= navbar[i].path%>")'>
                        <%= navbar[i].title%>
                    </a>

                    <div id="<%= navbar[i].path%>"" class=" target collapsed">

                        <% for(var j =0; j < navbar[i].menu.length; j++) {%>

                        <a <% if(navbar[i].menu[j].submenu) { %>
                            onclick='dropDown("sub-target","<%=navbar[i].path%>-<%=navbar[i].menu[j].path%>")' 
                            <%}else{%>
                            href='/<%= navbar[i].menu[j].path%>' <%}%>>
                                 <%= navbar[i].menu[j].name%> </a>
                            <%}%> 
                                </div>
                                <% for(var j =0; j < navbar[i].menu.length; j++) {%>
                                    <%if(navbar[i].menu[j].submenu) {%>
                                            <div id="<%=navbar[i].path%>-<%=navbar[i].menu[j].path%>" class="sub-target collapsed">
                                                <% for(var k =0; k < navbar[i].menu[j].submenu.length; k++) {%>
                                                    <%if(k==0) {%>
                                                        <a href='/<%= navbar[i].menu[j].path%>'>
                                                            Overview
                                                        </a>
                                                    <%}%> 
                                                    <a href= '/<%= navbar[i].menu[j].submenu[k].path%>'> <%= navbar[i].menu[j].submenu[k].name%> </a>
                                            <%}%>
                                        </div> 
                                    <%}%>
                        <%}%> 
    
                    </li>
                <%}%>

                <li class="nav-item">
                    <a class="nav-link" onclick='dropDown("target", "news")'>
                        News</a>

                        <div id="news" class="target collapsed">
                            <a href="/news/all" >All</a>
                            <a href="/news/announcements" >Announcements</a>
                            <a href="/news/awards" >Awards</a>
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick='dropDown("target", "events")'>
                        Events</a>

                        <div id="events" class="target collapsed">
                            <a href="/events/all" >All</a>
                            <a href="/events/colloquium" >Colloquia</a>
                            <a href="/events/seminar" >Seminars</a>
                    
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick='dropDown("target", "employement")'>
                        Employment</a>

                        <div id="employement" class="target collapsed">
                            <a href="/employment/faculty" >Faculty</a>
                            <a href="/employment/lecturer" >Announcement</a>
                            <a href="/employment/student" >Student</a>
                            <a href="/employment/research" >Research</a>
                    
                        </div>
                </li>
            </ul>
        </div>
        
        <div id="user-wrap" class="d-inline-flex">
            <!-- Search bar column -->
            <form id="searchbar" action="/search" method="GET" style="display: none;">
                <input name="q" class="searchbar-box" type="text" placeholder="Search">
            </form>
            <!-- search bar controller -->
            <svg onclick="display('searchbar')" id="searchbar-controller" width="1em" height="1em" viewBox="0 0 16 16"
                class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>

            <div id="user-bar" class="dropdown show">
                <a class="dropdown-toggle" href="#" role="button" id="UserMenu" data-toggle="dropdown"
                    <% if (logged) { %> style='color: var(--secondary);' <% } %> aria-haspopup="true"
                    aria-expanded="false">
                    <% if (logged) {%> <img style="width:2em;" src="/images/icons/signed-in.png">
                    <% } else { %>
                    <img style="width:2em;" src="/images/icons/not-logged.png">
                    <% } %>
                </a>

                <div id="user-info" class="dropdown-menu" aria-labelledby="UserMenu" role="menu">
                    <% if (logged) {%>
                    <a class="dropdown-item" id="username" href="/dashboard"><%- username %></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id='settings' href="/settings">Settings</a>
                    <a class="dropdown-item" id="logout" href="/users/logout">Logout</a>
                    <% } else { %>

                    <a class="dropdown-item" id="login" href="/users/login">Login</a>
                    <a class="dropdown-item" id="register" href="/users/register">Register</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- We have all this information stored in the database, why not redner it from there?
     collapse container-fluid-->


    <!-- responsive Nav-Bar -->

    <div id="about" class="target collapse container-fluid">
        <a href="/about/general">General</a>
    </div>
</nav>

<div id="navbar" class="">
    <div class="row">
        <div style='display:grid; text-align:left;'>
<!-- for loop through all the pages name -->

            <% for(var i =0; i < navbar.length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link" onclick="dropDown('nav-submenu', 's<%=i%>')">
                        <%=navbar[i].title%>
                    </a>
                </li>
                <%}%>
            <li class="nav-item">
                <a class="nav-link" onclick="dropDown('nav-submenu', 's<%=navbar.length%>')">
                    News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="dropDown('nav-submenu', '<%=navbar.length+1%>')">
                    Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="dropDown('nav-submenu', 's<%=navbar.length+2%>')">
                    Employment</a>
            </li>

        </div>

        <div id="submenu-wrapper" class="collapsed">
            <!-- two for loop through all the menus-->
            <% for(var i =0; i < navbar.length; i++) { %>
                <div id='s<%=i%>' class='nav-submenu collapsed'>
                    <% for(var j =0; j < navbar[i].menu.length; j++) { %>

                        <%if(navbar[i].menu[j].submenu) {%>
                            <span>
                                <a onclick="dropDown('nav-2nd-submenu','s<%=i%>-sb<%=j%>')"> <%=navbar[i].menu[j].name%></a>
                                <div id="s<%=i%>-sb<%=j%>" class="nav-2nd-submenu collapsed">
                                    <% for(var k =0; k < navbar[i].menu[j].submenu.length; k++) {%>
                                        <%if(k==0) {%>
                                            <a href='/<%= navbar[i].menu[j].path%>'>Overview</a>
                                        <%} else {%> 
                                            <a href= '/<%= navbar[i].menu[j].submenu[k].path%>'>
                                            <%= navbar[i].menu[j].submenu[k].name%>
                                            </a>
                                            <%}%>
                                    <%}%>
                                </div>
                            </span>

                        <%} else {%>
                            <a href='/<%= navbar[i].menu[j].path%>'>
                            <%= navbar[i].menu[j].name%> </a>

                        <%}%>

                    <%}%>
                </div>
            <%}%>

            <div id="s<%=navbar.length%>" class='nav-submenu collapsed'>
                <a href="/news/all">All</a>
                <a href="/news/announcements">Announcements</a>
                <a href="/news/awards">Awards</a>
            </div>


            <div id="s<%=navbar.length+1%>" class='nav-submenu collapsed'>
                <a href="/events/all">All</a>
                <a href="/events/colloquium">Colloquia</a>
                <a href="/events/seminar">Seminars</a>

            </div>

            <div id="s<%=navbar.length+2%>" class='nav-submenu collapsed'>
                <a href="/employment/faculty">Faculty</a>
                <a href="/employment/lecturer">Announcement</a>
                <a href="/employment/student">Student</a>
                <a href="/employment/research">Research</a>

            </div>
        </div>


    </div>
    <img src="/images/socs-bird.png" alt="SOCS bird" onclick="window.location='/'">
    <svg onclick='toggleMenu()' id='close' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
    </svg>
    <!-- Search bar column -->
    <form id="searchbar2" action="/search" method="GET" style="display: none;">
        <input name="q" class="searchbar-box" type="text" placeholder="Search">
    </form>
    <svg onclick="display('searchbar2')" id="search" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
        <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
    </svg>
</div>