<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://www.cs.mcgill.ca/static/base/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/subpage.css">

    <title>Error <%=error_code%></title>
</head>

<body>

    <!-- Top fixed menu -->
    <%- include('partials/navbar', {logged, username}) %>

    <img id="icon" src="/images/hamburger.png" alt="icon" onclick="openMenu()">
    <!-- left side menu-->
    <div id="menu" class="hidden">
        <!-- menu list specifically for the Prospective page -->

        <% for(let item of menu) { %>
            <ul onclick= <%- "window.location='./" + item[0] +"'"%>> <%= item[1]%></ul>
            <% } %>
    </div>

    <!-- <span id="icon">icon</span> -->
    <div id="content">
        <h1>Error <%=error_code%></h1>
        <h4><%=error_message%></h4>
        <br>
        <img id="marty" src="/images/marty.png" alt="Marty the martlet">
        <% if(!logged) { %>
            <b>You're not logged in. Try <a href="/login">logging in</a> to solve your issue.</b>
        <% } %>
    </div>
    <%- include('partials/footer'); %>

    <script src="/js/subpage.js"></script>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>