<link rel="stylesheet" href="/css/courses.css">
<% for(let course of content.data) { %>
    <p class="button-container">
        <button 
        class="btn btn-primary" 
        type="button" 
        data-toggle="collapse" 
        data-target=<%='#'+ course.mClass%>
        aria-expanded="false"
        aria-controls= <%=course.mClass%> >
            <%=course.title%>
        </button>
    </p>
    <div class="collapse collapse-box" id=<%=course.mClass%> >
        <div class="card card-body">
            <p class="card-text"><%=course.description%></p>
            <p class="card-text">Credits : <%=course.credits%></p>
            <p class="card-text">Terms Offered : 
                <% for (let term of course.termsOffered) { %>
                    <%= term %>
                <% } %>
            </p>
            <% if (course.instructor != undefined) {%>
            <p class="card-text">Instructor(s) : 
                <% for (let instructor of course.instructor) { %>
                    <%= instructor %>
                <% } %>
            </p>
            <% } %>
            <% if (course.notes != 'none' && course.notes != undefined) {%>
                <p class="card-text">Notes : <%=course.notes%></p>
            <% } %>
            <% if (course.restrictions != 'none' && course.restrictions != undefined) {%>
            <p class="card-text">Restrictions : <%=course.restrictions%></p>
            <% } %>
            <p class="card-text">Prerequisites : <%=course.prerequisites%></p>
            <% if (course.syllabus != '' && course.syllabus != undefined) {%>
            <p class="card-text"><a href=<%= course.syllabus %> target="_blank">Syllabus</a></p>
            <% } %>
            <% if (course.mcgillCalendar != '' && course.mcgillCalendar != undefined) {%>
            <p class="card-text"><a href=<%= course.mcgillCalendar  %> target="_blank">McGill Ecalender</a></p>
            <% } %>
        </div>
    </div>
<% } %>