<% for(let news of content.data) { %>
    <div class="card-body">
        <h5 class="card-title"> <%=news.title%></h5>
        <small
            class="text-muted"><%=news.creationDate.getFullYear()%>-<%=news.creationDate.getMonth();%>-<%=news.creationDate.getDate();%>
            <%=news.creationDate.getHours();%>:<%=news.creationDate.getMinutes();%></small>
        <p class="card-text"><%=news.description%></p>
        <p class="card-text">Contact : <%=news.contact%></p>
    </div>
    <% } %>
    <% if(content.data.length==0) { %>
        <h3> There is no open <%= type%> postings at the moment.</h3>
        <% } %>